* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

// Colors
$clique-green: #35FF86;
$not-black: #121212;
$also-not-black: #303030;

html,
body {
	background: $not-black;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 16px;
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.channel-item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background: $not-black;
    border: 1px solid lightgray;
    padding: 10px;
    opacity: 0.8;
    color: $clique-green;

    div {
        font-weight: bold;
    }

    p {
        font-size: 10px;
    }

    &:hover {
        opacity: 1;
        cursor: pointer;
        background: $clique-green;
        color: $not-black;
        border: 1px solid chartreuse;
    }
}

.messages-input {
  width: 100%;
  height: 40px;
  display: flex;

  input {
      height: 30px;
      width: 100%;
      margin-left: 15px;
      border-radius: 5px;
      border: 1px solid lightgray;

      &:focus {
          border: 1px solid cyan;
          outline: none;
      }
  }
}

.messages-panel {
  margin-top: auto;
  height: 55vh;
  background: transparent;
  overflow-y: scroll;
  scrollbar-width: none;
  background: #121212;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	margin-top: 10vh;
	width: 100%;
}

a {
	font-size: 1rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
	opacity: 1;
	transition: opacity 0.15s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.8;
    color: orange;
  }
}

.button {
  color: black;
  background: white;
  max-width: 400px;
  font-weight: 600;
  height: 50px;
}

.button:hover {
  color: white;
  background: black;
}

ul, li {
  display: inline;
  margin: 0.5rem 2rem;
  padding: 0.5rem 2rem;
  text-align: right;
  list-style: none;
}

p {
  max-width: 250px;
  padding: 0px 10px;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 0rem;
  padding: 0px 0.5rem;

  .sender {
    font-weight:bold;
  }
}

.wireframe {
  border: 1px solid #35FF86;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px auto 350px;
  // grid-template-rows: repeat(3, 30%);
  grid-template-rows: 50px auto 40px;
  grid-gap: 1em;
}

header,
aside,
article,
footer {
  padding: 1em;
}

header, footer {
  grid-column: 1 / 4;
}


.channel-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}

.user-slot {
  width:50px;
  height:50px;
  border: 1px gray solid;
  background: lightblue;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    border: 1px white solid;
  }
}

.tab-container {
  display: flex;
  flex-direction: row;
}

.channel-tab {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    width: 100%;
    height: 100%;
    font-weight: bold;
    outline: none;
    color: $clique-green;
    background: $not-black;
    border: 1px solid lightgray;
    opacity: 0.8;
  }

  .disabled {
    color: lightgray;
    background: $not-black;
    border: 1px solid lightgray;
  }

  &:hover {
      opacity: 1;
      cursor: pointer;
      background: $clique-green;
      color: $not-black;
      border: 1px solid chartreuse;
  }
}




.account {
  display: flex;
  flex-direction: column;

  input {
    font-size: 1.5rem;
    height: 40px;
    width: 20vw;
    background: transparent;
    color: white;
    outline: none;
    border: 2px white solid;
    padding: 0 2rem;
  }
  
  button {
    background: transparent;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px white solid;
    
  }
  
  button:disabled {
    opacity: 0.5;
  }
}


.logo-text {
  font-size: 3rem;
  font-weight: bold;
  color: $clique-green;
}