@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

// Colors
$clique-green: #35FF86;
$not-black: #121212;
$also-not-black: #303030;
$background-main: #272727;
$panels: #252525;
$stroke-light: #BDBDBD;
$stroke-highlight: #56CCF2;

html,
body {
	background: $background-main;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 16px;
	height: 100%;
	max-height: 97vh;
	overflow: hidden;
  padding: 0.25rem;
  border: red 1px solid;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
	font-size: 1rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
	opacity: 1;
	transition: opacity 0.15s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.8;
    color: orange;
  }
}

.wireframe {
  border: 1px solid $stroke-light;
}



// APP LAYOUT --------------------------------
.grid {
  height: 97vh;
  max-height: 93vh;
  display: grid;
  grid-template-columns: 150px auto 350px;
  grid-template-rows: 50px auto 0px;
  grid-gap: 1rem;
  border: $clique-green 5px solid;
}

header, footer {
  grid-column: 1 / 4;
}



//  MAIN VIEW ---------------
.main-view-wrapper {
	// display: flex;
	// align-items: center;
	// flex-direction: column;
  width: 100%;
  height: 100%;
  border: yellow 2px solid;
  overflow: scroll;




  // CHANNELS (Cliques) ---------------
  .channels-container {
    // margin-top:1.5rem;
    width:100%;
    height:100%;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    // align-items: center;
    border: red 2px solid;
  
  


    

    .channel {






      .channel-slot {
          
        width: 111px;
        height: 127px;
        // display: flex;
        // flex-direction: row;
        // padding: 10px;
        margin: 10px;
        opacity: 0.7;
        border: lightgrey 1px solid;
        transition: all 0.15s;

        &:hover {
            opacity: 1;
            cursor: pointer;
            color: $not-black;
        }

        .channel-name {
          position: absolute;
          margin: 0 0 100px 70px;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-style: italic;
          font-weight: lighter;
          font-size: 1rem;
          color: white;
      
        }
      }
    }








  
  
  
  
  
  
  
  }

}
// END MAIN VIEW











// CHAT ------------------------
.chat-container {


  // Tabs
  .tab-container {
    display: flex;
    flex-direction: row;

    .channel-tab {
      width: 50%;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      button {
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        outline: none;
        color: white;
        background: transparent;
        border: 1px solid lightgray;
        opacity: 0.8;

        &:hover {
          opacity: 1;
          cursor: pointer;
          // background: $clique-green;
          color: magenta;
          border: 1px solid magenta;
          cursor: pointer;
        }

        &:disabled {
          background: #232323;
          color: gray;
          font-style: italic;
          pointer-events: none;
        }
      }
    }
    
    .general-tab {
      width: 50%;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      button {
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        outline: none;
        color: white;
        background: transparent;
        border: 1px solid lightgray;
        opacity: 0.8;

        &:hover {
          opacity: 1;
          cursor: pointer;
          // background: $clique-green;
          color: $clique-green;
          border: 1px solid $clique-green;
          cursor: pointer;
        }

        &:disabled {
          background: #232323;
          color: gray;
          font-style: italic;
          pointer-events: none;
        }
      }

      button .selected {
        color: $clique-green !important;
        border: 2px solid $clique-green !important;
      }
    }
    

  }

  .selected  {
    color: magenta !important;
    border: 2px solid magenta !important;
  }



  // MESSAGES
  .messages-panel {
    height: 70vh;
    margin: 0vh 0 5vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    background: $panels;
    padding: 1rem 0.5rem;
    border: 3px solid $stroke-highlight;

    .message {
      border-top: 1px #232323 solid;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: 1rem;
      padding: 0 0.5rem;
    
      .sender {
        font-weight:bold;
        color: $clique-green;
      }



    }

    p {
      // max-width: 250px;
      padding: 0px 7px;
    }
  }
  
  


  // INPUT FIELD
  .messages-input {
    width: 100%;
    height: 40px;
    display: block;
    position: absolute;
    bottom: 8vh;
  
    input {
      display: inline;
      width:275px;
      height: 30px;
      margin: 15px;
      border-radius: 5px;
      color: white;
      border: 1px solid lightgray;
      background: transparent;
      padding-left: 1rem;
  
      &:focus {
          border: 1px solid $clique-green;
          outline: none;
      }
    }

    button {
      height:30px;
      background: $clique-green;
      color: $not-black;
      opacity: 0.8;
      transition: all 0.15s;

      &:hover {
        opacity: 1;
        color: white;
      }

      &:disabled {
        opacity: 0.5;
        color: lightgray;
        background: $not-black;
      }
    }

  }
}













// SIGN UP / LOG IN
.account {
  display: flex;
  flex-direction: column;


  input {
    font-size: 1.5rem;
    height: 40px;
    width: 20vw;
    background: transparent;
    color: white;
    outline: none;
    border: 1px gray solid;
    padding: 0 2rem;
    margin: 0.5rem 0;

    &:focus {
      border: 1px $clique-green solid;
    }
  }
  
  button {
    background: transparent;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px white solid;
    margin: 0.5rem 0;

    &:hover {
      color: $clique-green;
      border: 2px solid $clique-green;
    }

    &:active {
      color: black;
      background: $clique-green;
      border: 2px solid $clique-green;
    }
    
  }
  
}




// HOME / LANDING PAGE
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	margin: 10vh 0;
  // background-image: linear-gradient($not-black, rgb(27, 21, 103), $not-black);
  background-image: linear-gradient($not-black, rgb(69, 42, 78), $not-black);
  height: 75vh;

  .logo-text {
    font-size: 6rem;
    letter-spacing: 1.5rem;
    font-weight: 200;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }

  .header-text {
    font-size: 2rem;
    letter-spacing: 0.9rem;
    // font-weight: lighter;
    color: white;
    margin-bottom: 3rem;
  }

  .error {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
  }
}


// NAVBAR
.nav-flex {
  display: flex;
  background: #242424;
  color: white;
  justify-content: space-between;
  border: 1px solid #BDBDBD;
  align-items: center;

  .navbar {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  ul, li {
    display: inline;
    padding: 0rem 1.25rem;
    list-style: none;
  }
  
  .nav-logo {
    color: $clique-green;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: 'Quicksand', sans-serif;
  }

  .nav-hex {
    width:25px;
    height:25px;
    display: inline;
  }

  .nav-username {
    color: $clique-green;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 1rem;
  }

}



// SIDEBAR


.sidebar-container {

  height: 67vh;




  .leave-channel-button {
    position: absolute;
    display: block;
    bottom: 70px;
    left: 40px;
    height: 50px;
    width: 100px;
    font-weight: bold;
    background: transparent;
    border: 2px magenta solid;
    color: magenta;
  
    &:hover {
      border: 2px white solid;
      color: white;
      cursor: pointer;
    }
  
  }
}